<article>

    <h2>Weekly Menu</h2>
    {{data}}
    <div class="box" *ngFor="let recipe of recipes; let even = even; let odd = odd" >
        <a href="#/recipe/{{recipe.recipeId}}">
            <div class="box-content" [ngClass]="{'float-left' : odd, 'float-right' : even}">
                <h2>{{recipe.weekDay}}</h2>
                <h4>{{recipe.name}}</h4>
            </div>
            <div class="box-image" [ngClass]="{'float-right' : odd, 'float-left' : even}">
                <img [src]="recipe.image | image" width="200" height="120" [alt]='recipe.name'>
            </div>
        </a>
    </div>

</article>